// @import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto:wght@400;500&display=swap");

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Italic.ttf");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-MediumItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    color: $color-text-default;
    font-size: 16px;
    font-family: $font-family-default;
}
