#main {
    width: 100%;
    height: 100%;

    section.find-courses {
        padding: 0;
        background-color: #fff;

        section.courses-container {
            padding: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1440px;

            div.courses {
                margin-top: 24px !important;
                padding: 0;
                width: 100%;
                height: 100%;
                display: flex !important;
                justify-content: center;

                ul.courses-list {
                    display: grid !important;
                    gap: 24px;
                    width: 100%; /* Explicit width */
                    grid-auto-rows: auto; /* Added */

                    li.courses-listing-item {
                        box-sizing: border-box;
                        margin-left: 24px !important;
                        margin: 0 !important;
                        display: grid;
                        grid-template-rows: auto auto 1fr;
                        border: 0px !important;
                        border-radius: 4px !important;
                        width: 100%;
                        box-shadow: 2px 8px 8px 0px rgba(44, 55, 68, 0.04), 2px 20px 24px 0px rgba(44, 55, 68, 0.10) !important;
                        
                        article.course {
                            margin: 0;
                            border: 0px !important;
                            border-radius: 4px !important;

                            section.course-info {
                                height: 88px;

                                h2.course-name {
                                    span.course-title {
                                        margin: 0 !important;
                                        padding: 16px;
                                        margin-top: 15px;
                                        height: 88px !important;
                                        overflow: hidden;
                                        color: $color-text-default;
                                        font-feature-settings: "clig" off, "liga" off;

                                        /* Unit text/Header 4 */
                                        font-family: Roboto;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 150%; /* 27px */
                                    }

                                    span.course-code,
                                    span.course-organization {
                                        display: none;
                                    }
                                }

                                div.course-date {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.learn-more {
    color:  #FFF;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Unit text/Paragraph 1 Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.courses-container .course .course-image .cover-image {
    height: $img-height !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    img {
        width: 100%;
        height: $img-height !important;
        object-fit: cover;
    }
}


// > 1400px
@media only screen and (min-width: $breakpoint-desktop) {

    ul.courses-list {
        width: $breakpoint-desktop !important;
        padding-left: calc(($breakpoint-desktop - #{$four-items-width})/2) !important;
        padding-right: calc(($breakpoint-desktop - #{$four-items-width})/2) !important;
    }
    .courses-listing {
        grid-template-columns: repeat(4, 1fr) !important; 
    }
}

// 1201px - 1399px
@media only screen and (min-width: 1201px) and (max-width: 1399px) {
    ul.courses-list {
        width: $breakpoint-tablet-lg !important;
        padding-left: calc(($breakpoint-tablet-lg - #{$four-items-width})/2) !important;
        padding-right: calc(($breakpoint-tablet-lg - #{$four-items-width})/2) !important;

    }

    .courses-listing {
        grid-template-columns: repeat(4,1fr) !important;
    }
}


// 992px - 1200px
@media only screen and (min-width: $breakpoint-tablet-md) and (max-width: $breakpoint-tablet-lg) {
    ul.courses-list {
        width: $breakpoint-tablet-md !important;
        padding-left: calc(($breakpoint-tablet-md - #{$three-items-width})/2) !important;
        padding-right: calc(($breakpoint-tablet-md - #{$three-items-width})/2) !important;
    }

    .courses-listing {
        grid-template-columns: repeat(3,1fr) !important;
    }

}

// 768px - 991px
@media only screen and (min-width: $breakpoint-tablet-sm) and (max-width: 991px) {
    ul.courses-list {
        width: $breakpoint-tablet-sm !important;
        padding-left: calc(($breakpoint-tablet-sm - #{$two-items-width})/2) !important;
        padding-right: calc(($breakpoint-tablet-sm - #{$two-items-width})/2) !important;
    }

    .courses-listing {
        grid-template-columns: repeat(2,1fr) !important;
    }
}

// 576px - 767px
@media only screen and (min-width: $breakpoint-mobile-lg) and (max-width: 767px) {


    ul.courses-list {
        display: flex !important;
        justify-content: center !important;
        width: $breakpoint-mobile-lg !important;
        padding-left: calc(($breakpoint-mobile-lg - #{$one-item-width})/2) !important;
        padding-right: calc(($breakpoint-mobile-lg - #{$one-item-width})/2) !important;
    }

    .courses-listing {
        grid-template-columns: repeat(1,1fr) !important;
    }
}

// 375px - 575px
@media only screen and (min-width: $breakpoint-mobile-sm) and (max-width: 575px) {


    ul.courses-list {
        display: flex !important;
        justify-content: center !important;
        width: $breakpoint-mobile-sm !important;

        // It's breakpoint-mobile-lg NOT breakpoint-mobile-sm
        padding-left: calc(($breakpoint-mobile-lg - #{$one-item-width})/2) !important;
        padding-right: calc(($breakpoint-mobile-lg - #{$one-item-width})/2) !important;
    }

    .courses-listing {
        grid-template-columns: repeat(1,1fr) !important;
    }

    .courses-listing-item {
        width: $one-item-width !important
    }
}


@media only screen and (max-width: $breakpoint-mobile-sm) {
    ul.courses-list {
        width:  $breakpoint-mobile-sm !important;
        padding-left: calc((100% - #{$one-item-width})/2) !important;
        padding-right: calc((100% - #{$one-item-width})/2) !important;
    }
}
