body {
    min-height: 100vh;
    div.window-wrap {
        position: relative;
    }
}

#content {
    min-height: calc(100vh - #{$footer-height} - #{$header-height} + 48px);
    margin-top: $header-height;
    // padding-bottom: 48px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;


    // padding-left: $padding-body-desktop !important;
    // padding-right: $padding-body-desktop !important;
}

