#discovery-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // height: 104px !important;
    width: 100% !important;

    // margin-top: 24px;
    // margin-bottom: 24px !important;

    @media only screen and (min-width: $breakpoint-desktop) {
        width: $four-items-width !important;

        div.search-container {
            width: 620px !important;
        }
    }

    @media only screen and (min-width: $breakpoint-tablet-lg) and (max-width: $breakpoint-desktop) {
        width: $three-items-width !important;
    }

    @media only screen and (min-width: $breakpoint-tablet-md) and (max-width: $breakpoint-tablet-lg) {
        width: $three-items-width !important;
    }

    @media only screen and (min-width: $breakpoint-tablet-sm) and (max-width: 991px) {
        width: $two-items-width !important;
    }

    @media only screen and (min-width: $breakpoint-mobile-lg) and (max-width: 767px) {
        width: $one-item-width !important;
    }
    @media only screen and (min-width: $breakpoint-mobile-sm) and (max-width: $breakpoint-mobile-lg) {
        // margin-left: 16px !important;
        // margin-right: 16px !important;
        width: $one-item-width !important;
    }
    @media only screen and (max-width: $breakpoint-mobile-sm) {
        // margin-left: 16px !important;
        // margin-right: 16px !important;
        width: $one-item-width !important;
    }

    .clear-search {
        align-self: flex-start;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        order: 1;
        cursor: pointer;

        span {
            color: $color-active;
        }

        &:hover {
            svg {
                path {
                    fill: $color-hover !important;
                }
            }

            span {
                color: $color-hover !important;
            }
        }

    }

    div.search-container {
        display: flex;
        margin-top: 24px;
        margin-bottom: 24px;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 24px;
        order: 3;



        #discovery-message {
            color: $color-text-default;
            font-feature-settings: "clig" off, "liga" off;
            /* Unit text/Paragraph 1 Medium */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
        }
    }
}

form.wrapper-search-input {
    width: 100% !important;
    height: 56px !important;
    order: 2;

    &:hover {
        input {
            border: 1px solid $color-active !important;
            // border-left: 0px !important;
        }

    }

    &:active {
        input {
            border: 2px solid $color-active !important;
            // border-left: 0px !important;
        }

    }
    &:focus {
        input {
            border: 2px solid $color-active !important;
        }

    }

    input {
        padding: 12px !important;
        border-radius: 4px !important;
        border: 1px solid $color-subdued !important;
        padding-left: 61px !important;
        font-family: Roboto !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        font-style: normal !important;
        line-height: 150% !important;
        color: $color-text-inactive !important;

        &:focus {
            border: 2px solid $color-active !important;
            // border-left: 0 !important;
        }
    }

    button.discovery-submit {
        background-color: #fff;
        border: 0px !important;
        border-right: 0px !important;
        color: $color-subdued;
        background-image: none !important;
        background: transparent !important;


        &:hover {
            background-image: none !important;
        }

        &:active {
            background-image: none !important;
        }

        .search-icon {
            color: $color-subdued;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div > div#loading-indicator > span.fa.fa-spinner {
            font-size: 2rem !important;
        }
    }
}
