

#discovery-form {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 104px !important;
    width: 100% !important;
    // margin-top: 24px;
    // margin-bottom: 24px !important;

    div.search-container {
        display: flex;
        margin-top: 24px;
        margin-bottom: 24px;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 24px;

        @media only screen and (min-width: $breakpoint-desktop) {
            width: 620px !important;
        }
    
        @media only screen and (min-width: $breakpoint-tablet-lg) and (max-width: $breakpoint-desktop) {
            width: 620px !important;
        }
    
        @media only screen and (min-width: $breakpoint-tablet-md) and (max-width: $breakpoint-tablet-lg) {
            width: $three-items-width !important;
        } 
    
        @media only screen and (min-width: $breakpoint-tablet-sm) and (max-width: $breakpoint-tablet-md) {
            margin-left: 16px !important;
            margin-right: 16px !important
        }
    
        @media only screen and (min-width: $breakpoint-mobile-lg) and (max-width: $breakpoint-tablet-sm) {
            margin-left: 16px !important;
            margin-right: 16px !important
        }
        @media only screen and (min-width: $breakpoint-mobile-sm) and (max-width: $breakpoint-mobile-lg) {
            margin-left: 16px !important;
            margin-right: 16px !important
        }
        @media only screen and (max-width: $breakpoint-mobile-sm) {
            margin-left: 16px !important;
            margin-right: 16px !important
        }

        #discovery-message {
            color: var(--Text-Default, #2C3744);
font-feature-settings: 'clig' off, 'liga' off;
/* Unit text/Paragraph 1 Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */   
        }

    }
}

form.wrapper-search-input {

    width: 100% !important;
    height: 56px !important;


    &:hover {
        input {
            border: 1px solid $color-hover-gray !important;
            border-left: 0px !important;
        }

        button.discovery-submit {
            border: 1px solid $color-hover-gray !important;
            border-right: 0 !important
        }
    }

    &:active {
        input {
            border: 1px solid $color-active-dark !important;
            border-left: 0px !important;
        }

        button.discovery-submit {
            border: 1px solid $color-active-dark !important;
            border-right: 0 !important
        }
    }
    &:focus {
        input {
            border: 1px solid $color-active-dark !important;
            border-left: 0 !important;
        }
    
        button.discovery-submit {
            border: 1px solid $color-active-dark !important;
            border-right: 0 !important

            
        }
    }
    // @media only screen and (min-width: $breakpoint-desktop) {
    //     width: 620px !important;
    // }

    // @media only screen and (min-width: $breakpoint-tablet-lg) and (max-width: $breakpoint-desktop) {
    //     width: 620px !important;
    // }

    // @media only screen and (min-width: $breakpoint-tablet-md) and (max-width: $breakpoint-tablet-lg) {
    //     width: $three-items-width !important;
    // } 

    // @media only screen and (min-width: $breakpoint-tablet-sm) and (max-width: $breakpoint-tablet-md) {
    //     margin-left: 16px !important;
    //     margin-right: 16px !important
    // }

    // @media only screen and (min-width: $breakpoint-mobile-lg) and (max-width: $breakpoint-tablet-sm) {
    //     margin-left: 16px !important;
    //     margin-right: 16px !important
    // }
    // @media only screen and (min-width: $breakpoint-mobile-sm) and (max-width: $breakpoint-mobile-lg) {
    //     margin-left: 16px !important;
    //     margin-right: 16px !important
    // }
    // @media only screen and (max-width: $breakpoint-mobile-sm) {
    //     margin-left: 16px !important;
    //     margin-right: 16px !important
    // }


    input {
        padding: 12px !important;
        border: 1px solid $color-subdued !important;
        border-left: 0px !important;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-left: 61px !important;
        font-family: Roboto !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        font-style: normal !important;
        line-height: 150% !important;
        color: $color-text-inactive !important;
    }

    button.discovery-submit {
        background-color: #fff;
        border: 1px solid $color-subdued !important;
        border-right: 0px !important;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0xp;
        color: $color-subdued;
        background-image: none !important;


        &:hover {
            background-color: #fff !important;
            background-image: none !important;
        }

        &:active {
            background-color: #fff !important;
            background-image: none !important;
        }


        .search-icon {
            color: $color-subdued;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div > div#loading-indicator > span.fa.fa-spinner {
            font-size: 2rem !important;
            
        }
    }
}